<article class="result" *ngIf="result">
    <div class="result__image">
        <img class="result__image__thumbnail" src="{{result.img || 'assets/images/no-image.png'}}">
    </div>
    <div class="result__text">
        <a class="result__text__link" href="{{result.url}} ">
            <span>{{result.url}}</span>
        </a>
        <p class="result__text__description ">{{result.description}}</p>
    </div>
</article>