.result {
    display: flex;
    min-height: 100px;
    padding: 10px;
    align-items: flex-start;
    &__image {
        margin-right: 10px;
        &__thumbnail {
            display: block;
            width: 100px;
        }
    }
    &__text {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding-right: 10px;
        &__link {
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            word-wrap: break-word;
            font-weight: bold;
            color: #333333;
            &:hover {
                color: #666666;
            }
        }
        &__description {
            padding: 10px;
            margin: 0;
        }
    }
}