.app-result-list {
    margin-bottom: 40px;
    &__element {
        width: 100%;
        display: inline-block;
        &:nth-child(even) {
            background-color: #f1f1f1;
        }
        &:nth-child(odd) {
            background-color: #ffffff;
        }
    }
}