<header class="app-header">
    <h1>Wikipedia search engine</h1>
    <div style="text-align:center">
        <img class="app-header__logo" alt="Siigle Logo" src="assets/images/siigle_wiki.png">
    </div>
</header>