<section class="app-section ui-g-12 ui-g-nopad">
    <app-header class="ui-g-12"></app-header>
    <main class="ui-g-12 ui-md-10 ui-lg-8 ui-xl-6">
        <app-search (search)="requestResults($event)"></app-search>
        <app-result-list [results]='results'></app-result-list>
    </main>
    <app-footer class="ui-g-12 ui-g-nopad"></app-footer>
</section>