<div class="siiSearch ui-g-12">
    <span class="siiSearch__input ui-float-label ui-g-12 ui-md-8 ui-lg-10 ui-g-nopad">
        <input class="siiSearch__input__field" [ngClass]="{error: error}" id="float-input" type="text" pInputText [(ngModel)]="phrase" (keyup.enter)="emitPhrase()"> 
        <label class="siiSearch__input__label" for="float-input">Type phrase here...</label>
    </span>

    <button class="siiSearch__btn ui-g-12 ui-md-4 ui-lg-2" pButton type="button" icon="fa-search" label="Search" (click)="emitPhrase()"></button>
</div>