$small-screen: 641px;
.siiSearch {
    display: flex;
    flex-wrap: nowrap;
    @media (max-width: $small-screen) {
        flex-wrap: wrap;
    }
    &__input {
        display: flex;
        margin: 0 10px 10px 0;
        @media (max-width: $small-screen) {
            margin: 0 0 10px;
            height: 45px;
        }
        &__field {
            width: 100%;
            &.error {
                box-shadow: 0 0 8px -2px #ff0000;
            }
        }
    }
    &__btn {
        margin: 0 0 10px;
    }
}