body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #fafafa;
    font: 16px/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}

@import 'sass/index.scss';